In [7]:
import os
import pandas as pd

In [11]:
# Read the data from the file gapminder.csv
data = pd.read_csv("C:/Users/heman/Documents/Jupyter Notebook/dataset/gapminder.csv")

In [12]:
# Verify that the data has been loaded correctly
print(data.head())

   Unnamed: 0      country continent  year  lifeExp       pop   gdpPercap
0           1  Afghanistan      Asia  1952   28.801   8425333  779.445314
1           2  Afghanistan      Asia  1957   30.332   9240934  820.853030
2           3  Afghanistan      Asia  1962   31.997  10267083  853.100710
3           4  Afghanistan      Asia  1967   34.020  11537966  836.197138
4           5  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [13]:
# Replace missing values in 'lifeExp' with 0
# data["lifeExp"].fillna(0, inplace=True)

In [14]:
# Calculate the mean of lifeExp from all the data
mean_all = data["lifeExp"].mean()
print("Mean of lifeExp from all the data:", mean_all)

Mean of lifeExp from all the data: 59.474439366197174

In [15]:
# Calculate the mean of lifeExp by country
mean_country = data.groupby("country")["lifeExp"].mean()
print("\nMean of lifeExp by country:")
print(mean_country)

Mean of lifeExp by country:
country
Afghanistan           37.478833
Albania               68.432917
Algeria               59.030167
Angola                37.883500
Argentina             69.060417
                        ...
Vietnam               57.479500
West Bank and Gaza    60.328667
Yemen, Rep.           46.780417
Zambia                45.996333
Zimbabwe              52.663167
Name: lifeExp, Length: 142, dtype: float64

In [16]:
# Calculate the mean of lifeExp by year
mean_year = data.groupby("year")["lifeExp"].mean()
print("\nMean of lifeExp by year:")
print(mean_year)

Mean of lifeExp by year:
year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [17]:
# Calculate the mean of lifeExp by continent
mean_continent = data.groupby("continent")["lifeExp"].mean()
print("\nMean of lifeExp by continent:")
print(mean_continent)

Mean of lifeExp by continent:
continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64